@{
    ViewBag.Title = "Coolest Web Site on the Net";
}

<div style="height:10px; width:100%; background-color:black;"></div>

<div class="row" style="background-color:black; text-align:center;">
    <h1 style="color:palevioletred">Welcome to</h1>
    <h1 style="font-size:40pt; font-weight:bold; color:palevioletred">LUKAS'S COOL PAGE!!</h1>
    <p class="white">This page is best viewed on a 1024x768 monitor.</p>
</div>

<div style="height:30px; width:100%; background-color:black;"></div>

<div class="row">
    <div class="col-md-3" style="text-align: center;"></div>
    <div class="col-md-3" style="text-align: center;">
        <img src="~/assets/ff7-cloud4.jpg" style="max-height: 300px;" />
        <p style="color:lightblue;">Click Cloud Strife for FRAMES</p>
    </div>
    <div class="col-md-3" style="text-align: center;">
        <img src="~/assets/dragon-ball-z26.jpg" style="max-height: 300px;" />
        <p style="color:lightblue;">Click SSJ Vegito for NO FRAMES</p>
    </div>
    <div class="col-md-3" style="text-align: center;"></div>
</div>

<div style="height:20px; width:100%; background-color:black;"></div>

<div class="row" style="text-align: center;">
    <h2 style="font-family:Impact; color:red;">You are visitor #</h2>
    <img src="~/assets/counter.gif" />
</div>